:root {
  --width-video: 854px;
  --height-video: 480px;
  --height-container-down: var(--height-video)*0.5;
}
/**/
#player{
  width:var(--width-video);
  height:var(--height-video);
}
/**/
.container{
  position: relative;
}
/**/
.container_down{
  width:var(--width-video);
  height:var(--height-container-down);
}
/*La posicion es relativo al que lo contiene*/

#chapters{
  float:left;
  position: relative;
  top:0px;
  width:200px;
  height:var(--height-container-down);
  overflow:auto;
  background-color: blue;

}

/*La posicion es relativo al que lo contiene*/
#caption{
  position: fixed;
  left:350px;
  width:505px;
  height:480px;
  overflow:auto;
  background-color: green;

}
