#caption{
  border: 1px solid black;
  width: 500px;
  height:300px;
  right: "100px";
  float:right;
  overflow:auto;
  position: relative;
}
#chapters{
  position: relative;
  border: 1px solid black;
  width: 200px;
  height:200px;
  float:left;
  overflow:auto;
}
#down{
  bottom: 1px;
  height:500;
  width: 300;
}
#player{
  top:1px;
}
